@page
@model ChangePasswordModel


<div class="row">
    <div class="px-16 py-8 w-full h-[900px] flex text-black sm:px-0">
        <div class="w-full h-full bg-[#EBDFD7] py-5 px-3 sm:px-0">
            <div class="w-full h-[90%] ">
                <div class="w-full flex items-center justify-center py-10 ">
                    @*<div class="flex flex-col items-center justify-center space-y-7 bg-[#F2EAE5] p-10 rounded-2xl">*@
                    <form id="change-password-form" method="post" class="flex flex-col items-center justify-center space-y-7 bg-[#F2EAE5] p-10 rounded-2xl sm:px-14" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="text-[16px] space-y-1 ">
                            <div class="text-[#828181]">
                                <label asp-for="Input.OldPassword" class="control-label"></label>
                            </div>
                            <div class="flex items-center justify-end">
                                <input asp-for="Input.OldPassword" class="h-[40px] w-[380px] bg-[#F1F3F6] px-5 rounded-lg  text-black"
                                       autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                                
                                
                            </div>
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>


                        <div class="text-[16px] space-y-1 ">
                            <div class="text-[#828181]">
                                <label asp-for="Input.NewPassword" class="control-label"></label>
                            </div>
                            <div class="flex items-center justify-end">
                                <input asp-for="Input.NewPassword" class="h-[40px] w-[380px] bg-[#F1F3F6] px-5 rounded-lg  text-black"
                                       autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                                
                                
                            </div>
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="text-[16px] space-y-1 ">
                            <div class="text-[#828181]">
                                <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                            </div>
                            <div class="flex items-center justify-end">
                                <input asp-for="Input.ConfirmPassword" class="h-[40px] w-[380px] bg-[#F1F3F6] px-5 rounded-lg  text-black"
                                       autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                                
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        
                        <button type="submit" class="form-group w-[380px] text-[#FD7401] border-2 border-[#FD7401] text-[20px] font-bold rounded-[10px] h-[45px] flex items-center justify-center ">Update password</button>
                        <button class="space-x-2 pt-3">
                            <a class="w-[380px] text-[#FD7401] border-2 border-[#FD7401] text-[20px] font-bold rounded-[10px] h-[45px] flex items-center justify-center " href="@Url.Content("~/Users/Index")">Back to Profile</a>
                        </button>
                    </form>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
